<div>
    <table>
        <tr>
            <th>Short Name</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in foundItems" style="height: 3em">
            <td>{{item.short_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button class="btn btn-danger" ng-click="onRemove({index: $index})">Don't want this one!</button>
            </td>
        </tr>
    </table>
</div>