<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="../libraries/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="Assignment3">

<div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="ctrl.search()">Narrow It Down For Me!</button>
    </div>
    <br><br><br>

    <div class="alert alert-danger" ng-if="ctrl.message != ''">{{ctrl.message}}</div>

    <found-items found-items="ctrl.found" on-remove="ctrl.removeItem(index)" ng-if="ctrl.found.length != 0">
    </found-items>

</div>
</body>
</html>
